@use './variables' as *;
@use './mixins' as *;

.data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 30px;

    .card {
        @include card_design;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 4px 15px rgba($second_color, 0.3);
            cursor: pointer;
        }

        p {
            font-weight: bold;
        }
    }

    .active {
        background-color: $second_color;
        color: white;
    }
}