@use './variables' as *;
@use './mixins' as *;

.order-table {

    @include table_design;

    .t-head {
        display: flex;
        margin-bottom: 20px;

        .date {
            display: flex;
            gap: 10px;
            margin-left: auto;


            .date-button {

                @include date_btn_design;

                &:hover {
                    opacity: 0.7;
                }
            }

            .active {
                background-color: $main_color;
                color: white;
                border: none;
            }
        }
    }

    table {

        width: 100%;
        border-collapse: collapse;


        th,
        td {
            text-align: left;
            padding: 30px 20px;
            font-size: 1.4rem;
            

        }

        tr ,thead {
            border-bottom: 2px solid #ddd;
        }

        tr:last-child {
            border-bottom: none;
        }


        .delivered{
            @include Delivered;
        }

        .pending{
            @include Pending;
        }

        .shipped{
            @include Shipped;
        }
    }

}