$main_color: #005b55;
$second_color: #eb6e34;
$page_color: #e9eeec;

$Delivered_bg :#ddfef3;
$Delivered_color :#6e9489;

$Pending_bg :#ffecde;
$Pending_color :#e7baa3;

$Shipped_bg :#ffeded;
$Shipped_color :#bf8486;

$icons: house, shirt, box, users, chart-line, bell, gear, right-from-bracket, circle-question;
$icon_header : envelope,calendar,earth-americas;