@use './cards';
@use './header';
@use './sidebar';
@use './table';
@use './response';
@use './mixins' as *;
@use './container' as *;
@use './variables' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    @include page-design;
    background-color: $page_color;
    width: 100%;
    height: 100vh;
}


.logo {
    @include logo-style(60px, 10px, 5px);
    @include img_filter;
}